{
  "$schema": "https://ref.actionschema.com/openapi.json",
  "openapi": "3.1.0",
  "x-actionschema": "0.0.1",
  "servers": [
    {
      "url": "https://chat.actionschema.com/{URLENCODED_OPENAPI_URL}",
      "variables": {
        "URLENCODED_OPENAPI_URL": {
          "default": "",
          "example": "https%3A%2F%2Fsearch.actionschema.com%2Fopenapi.json",
          "description": "URI encoded URL leading to an OpenAPI spec"
        }
      }
    },
    { "url": "https://chat.actionschema.com" }
  ],
  "info": {
    "title": "OpenAPI Chat Completion API",
    "version": "1.0.0"
  },
  "paths": {
    "/chat/calculate-cost": {
      "get": {
        "summary": "Calculate cost of AI model usage",
        "description": "Calculates the cost of using an AI model based on the provider, model, and token usage.",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["groq", "openai", "anthropic"]
            },
            "description": "The AI provider that we have indexed"
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The specific model ID"
          },
          {
            "name": "completion_tokens",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of tokens in the generated completion"
          },
          {
            "name": "prompt_tokens",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of tokens in the prompt"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful cost calculation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "prompt_cost",
                    "output_cost",
                    "total_cost",
                    "currency"
                  ],
                  "properties": {
                    "prompt_cost": {
                      "type": "number",
                      "description": "Cost of the prompt tokens"
                    },
                    "output_cost": {
                      "type": "number",
                      "description": "Cost of the completion tokens"
                    },
                    "total_cost": {
                      "type": "number",
                      "description": "Total cost of the operation"
                    },
                    "currency": { "type": "string", "description": "Currency" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat/simple": {},
    "/chat/raw": {},
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "security": [{}, { "llm": [] }, { "oauth2": [] }],
        "summary": "Creates a model response for the given chat conversation.",
        "parameters": [
          {
            "in": "header",
            "name": "X-USER-ID",
            "schema": { "type": "string" },
            "required": false,
            "description": "For admin, put a userId for the amount of requests to be ratelimited."
          },

          {
            "in": "header",
            "name": "X-OPENAPI-SECRET",
            "schema": { "type": "string" },
            "required": false,
            "description": "Force overwrite OpenAPI Secret, bypassing ActionSchema Auth"
          },

          {
            "in": "header",
            "name": "X-BASEPATH",
            "schema": { "type": "string" },
            "required": false,
            "description": "Use another basepath for the LLM."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "description": "A list of messages comprising the conversation so far. [Example Python code](https://cookbook.openai.com/examples/how_to_format_inputs_to_chatgpt_models).",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "System message",
                          "properties": {
                            "content": {
                              "description": "The contents of the system message.",
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": ["system"],
                              "description": "The role of the messages author, in this case `system`."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": ["content", "role"]
                        },
                        {
                          "type": "object",
                          "title": "User message",
                          "properties": {
                            "content": {
                              "description": "The contents of the user message.\n",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "description": "The text contents of the message.",
                                  "title": "Text content"
                                },
                                {
                                  "type": "array",
                                  "description": "An array of content parts with a defined type, each can be of type `text` or `image_url` when passing in images. You can pass multiple images by adding multiple `image_url` content parts. Image input is only supported when using the `gpt-4-visual-preview` model.",
                                  "title": "Array of content parts",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "title": "Text content part",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["text"],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": ["type", "text"]
                                      },
                                      {
                                        "type": "object",
                                        "title": "Image content part",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["image_url"],
                                            "description": "The type of the content part."
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string",
                                                "description": "Either a URL of the image or the base64 encoded image data.",
                                                "format": "uri"
                                              },
                                              "detail": {
                                                "type": "string",
                                                "description": "Specifies the detail level of the image. Learn more in the [Vision guide](/docs/guides/vision/low-or-high-fidelity-image-understanding).",
                                                "enum": ["auto", "low", "high"],
                                                "default": "auto"
                                              }
                                            },
                                            "required": ["url"]
                                          }
                                        },
                                        "required": ["type", "image_url"]
                                      }
                                    ]
                                  },
                                  "minItems": 1
                                }
                              ]
                            },
                            "role": {
                              "type": "string",
                              "enum": ["user"],
                              "description": "The role of the messages author, in this case `user`."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": ["content", "role"]
                        },
                        {
                          "type": "object",
                          "title": "Assistant message",
                          "properties": {
                            "content": {
                              "nullable": true,
                              "type": "string",
                              "description": "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified.\n"
                            },
                            "role": {
                              "type": "string",
                              "enum": ["assistant"],
                              "description": "The role of the messages author, in this case `assistant`."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            },
                            "tool_calls": {
                              "type": "array",
                              "description": "The tool calls generated by the model, such as function calls.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The ID of the tool call."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": ["function"],
                                    "description": "The type of the tool. Currently, only `function` is supported."
                                  },
                                  "function": {
                                    "type": "object",
                                    "description": "The function that the model called.",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the function to call."
                                      },
                                      "arguments": {
                                        "type": "string",
                                        "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                      }
                                    },
                                    "required": ["name", "arguments"]
                                  }
                                },
                                "required": ["id", "type", "function"]
                              }
                            },
                            "function_call": {
                              "type": "object",
                              "deprecated": true,
                              "description": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.",
                              "properties": {
                                "arguments": {
                                  "type": "string",
                                  "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the function to call."
                                }
                              },
                              "required": ["arguments", "name"]
                            }
                          },
                          "required": ["role"]
                        },
                        {
                          "type": "object",
                          "title": "Tool message",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": ["tool"],
                              "description": "The role of the messages author, in this case `tool`."
                            },
                            "content": {
                              "type": "string",
                              "description": "The contents of the tool message."
                            },
                            "tool_call_id": {
                              "type": "string",
                              "description": "Tool call that this message is responding to."
                            }
                          },
                          "required": ["role", "content", "tool_call_id"]
                        },
                        {
                          "type": "object",
                          "title": "Function message",
                          "deprecated": true,
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": ["function"],
                              "description": "The role of the messages author, in this case `function`."
                            },
                            "content": {
                              "nullable": true,
                              "type": "string",
                              "description": "The contents of the function message."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the function to call."
                            }
                          },
                          "required": ["role", "content", "name"]
                        }
                      ]
                    }
                  },
                  "model": {
                    "description": "ID of the model to use. Must be one that the provider supports.",
                    "type": "string"
                  },

                  "frequency_penalty": {
                    "type": "number",
                    "default": 0,
                    "minimum": -2,
                    "maximum": 2,
                    "nullable": true,
                    "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.\n\n[See more information about frequency and presence penalties.](/docs/guides/text-generation/parameter-details)\n"
                  },
                  "logit_bias": {
                    "type": "object",
                    "default": null,
                    "nullable": true,
                    "additionalProperties": {
                      "type": "integer"
                    },
                    "description": "Modify the likelihood of specified tokens appearing in the completion.\n\nAccepts a JSON object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token.\n"
                  },
                  "logprobs": {
                    "description": "Whether to return log probabilities of the output tokens or not. If true, returns the log probabilities of each output token returned in the `content` of `message`.",
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  },
                  "top_logprobs": {
                    "description": "An integer between 0 and 20 specifying the number of most likely tokens to return at each token position, each with an associated log probability. `logprobs` must be set to `true` if this parameter is used.",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "nullable": true
                  },
                  "max_tokens": {
                    "description": "The maximum number of [tokens](/tokenizer) that can be generated in the chat completion.\n\nThe total length of input tokens and generated tokens is limited by the model's context length. [Example Python code](https://cookbook.openai.com/examples/how_to_count_tokens_with_tiktoken) for counting tokens.\n",
                    "type": "integer",
                    "nullable": true
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 128,
                    "default": 1,
                    "example": 1,
                    "nullable": true,
                    "description": "How many chat completion choices to generate for each input message. Note that you will be charged based on the number of generated tokens across all of the choices. Keep `n` as `1` to minimize costs."
                  },
                  "presence_penalty": {
                    "type": "number",
                    "default": 0,
                    "minimum": -2,
                    "maximum": 2,
                    "nullable": true,
                    "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.\n\n[See more information about frequency and presence penalties.](/docs/guides/text-generation/parameter-details)\n"
                  },
                  "response_format": {
                    "type": "object",
                    "description": "An object specifying the format that the model must output. Compatible with [GPT-4 Turbo](/docs/models/gpt-4-and-gpt-4-turbo) and all GPT-3.5 Turbo models newer than `gpt-3.5-turbo-1106`.\n\nSetting to `{ \"type\": \"json_object\" }` enables JSON mode, which guarantees the message the model generates is valid JSON.\n\n**Important:** when using JSON mode, you **must** also instruct the model to produce JSON yourself via a system or user message. Without this, the model may generate an unending stream of whitespace until the generation reaches the token limit, resulting in a long-running and seemingly \"stuck\" request. Also note that the message content may be partially cut off if `finish_reason=\"length\"`, which indicates the generation exceeded `max_tokens` or the conversation exceeded the max context length.\n",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["text", "json_object"],
                        "example": "json_object",
                        "default": "text",
                        "description": "Must be one of `text` or `json_object`."
                      }
                    }
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": -9223372036854776000,
                    "maximum": 9223372036854776000,
                    "nullable": true,
                    "description": "This feature is in Beta.\nIf specified, our system will make a best effort to sample deterministically, such that repeated requests with the same `seed` and parameters should return the same result.\nDeterminism is not guaranteed, and you should refer to the `system_fingerprint` response parameter to monitor changes in the backend.\n"
                  },
                  "stop": {
                    "description": "Up to 4 sequences where the API will stop generating further tokens.\n",
                    "default": null,
                    "oneOf": [
                      {
                        "type": "string",
                        "nullable": true
                      },
                      {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 4,
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "stream": {
                    "description": "If set, partial message deltas will be sent, like in ChatGPT. Tokens will be sent as data-only [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format) as they become available, with the stream terminated by a `data: [DONE]` message. [Example Python code](https://cookbook.openai.com/examples/how_to_stream_completions).\n",
                    "type": "boolean",
                    "nullable": true,
                    "default": false
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 1,
                    "example": 1,
                    "nullable": true,
                    "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.\n\nWe generally recommend altering this or `top_p` but not both.\n"
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1,
                    "example": 1,
                    "nullable": true,
                    "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n\nWe generally recommend altering this or `temperature` but not both.\n"
                  },
                  "tools": {
                    "type": "array",
                    "description": "A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported.\n",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["function"],
                          "description": "The type of the tool. Currently, only `function` is supported."
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "A description of what the function does, used by the model to choose when and how to call the function."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                            },
                            "parameters": {
                              "type": "object",
                              "description": "The parameters the functions accepts, described as a JSON Schema object. See the [guide](/docs/guides/text-generation/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format. \n\nOmitting `parameters` defines a function with an empty parameter list.",
                              "additionalProperties": true
                            }
                          },
                          "required": ["name"]
                        }
                      },
                      "required": ["type", "function"]
                    }
                  },
                  "tool_choice": {
                    "description": "Controls which (if any) function is called by the model.\n`none` means the model will not call a function and instead generates a message.\n`auto` means the model can pick between generating a message or calling a function.\nSpecifying a particular function via `{\"type\": \"function\", \"function\": {\"name\": \"my_function\"}}` forces the model to call that function.\n\n`none` is the default when no functions are present. `auto` is the default if functions are present.\n",
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "`none` means the model will not call a function and instead generates a message. `auto` means the model can pick between generating a message or calling a function.\n",
                        "enum": ["none", "auto"]
                      },
                      {
                        "type": "object",
                        "description": "Specifies a tool the model should use. Use to force the model to call a specific function.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["function"],
                            "description": "The type of the tool. Currently, only `function` is supported."
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the function to call."
                              }
                            },
                            "required": ["name"]
                          }
                        },
                        "required": ["type", "function"]
                      }
                    ]
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](/docs/guides/safety-best-practices/end-user-ids).\n"
                  },
                  "function_call": {
                    "deprecated": true,
                    "description": "Deprecated in favor of `tool_choice`.\n\nControls which (if any) function is called by the model.\n`none` means the model will not call a function and instead generates a message.\n`auto` means the model can pick between generating a message or calling a function.\nSpecifying a particular function via `{\"name\": \"my_function\"}` forces the model to call that function.\n\n`none` is the default when no functions are present. `auto` is the default if functions are present.\n",
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "`none` means the model will not call a function and instead generates a message. `auto` means the model can pick between generating a message or calling a function.\n",
                        "enum": ["none", "auto"]
                      },
                      {
                        "type": "object",
                        "description": "Specifying a particular function via `{\"name\": \"my_function\"}` forces the model to call that function.\n",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the function to call."
                          }
                        },
                        "required": ["name"]
                      }
                    ]
                  },
                  "functions": {
                    "deprecated": true,
                    "description": "Deprecated in favor of `tools`.\n\nA list of functions the model may generate JSON inputs for.\n",
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 128,
                    "items": {
                      "type": "object",
                      "deprecated": true,
                      "properties": {
                        "description": {
                          "type": "string",
                          "description": "A description of what the function does, used by the model to choose when and how to call the function."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                        },
                        "parameters": {
                          "type": "object",
                          "description": "The parameters the functions accepts, described as a JSON Schema object. See the [guide](/docs/guides/text-generation/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format. \n\nOmitting `parameters` defines a function with an empty parameter list.",
                          "additionalProperties": true
                        }
                      },
                      "required": ["name"]
                    }
                  }
                },
                "required": ["model", "messages"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Either a JSON or a text/event-stream incase you passed 'stream:true'",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Represents a chat completion response returned by model, based on the provided input.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "choices": {
                      "type": "array",
                      "description": "A list of chat completion choices. Can be more than one if `n` is greater than 1.",
                      "items": {
                        "type": "object",
                        "required": [
                          "finish_reason",
                          "index",
                          "message",
                          "logprobs"
                        ],
                        "properties": {
                          "finish_reason": {
                            "type": "string",
                            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.\n",
                            "enum": [
                              "stop",
                              "length",
                              "tool_calls",
                              "content_filter",
                              "function_call"
                            ]
                          },
                          "index": {
                            "type": "integer",
                            "description": "The index of the choice in the list of choices."
                          },
                          "message": {
                            "type": "object",
                            "description": "A chat completion message generated by the model.",
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "The contents of the message.",
                                "nullable": true
                              },
                              "tool_calls": {
                                "type": "array",
                                "description": "The tool calls generated by the model, such as function calls.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The ID of the tool call."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": ["function"],
                                      "description": "The type of the tool. Currently, only `function` is supported."
                                    },
                                    "function": {
                                      "type": "object",
                                      "description": "The function that the model called.",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the function to call."
                                        },
                                        "arguments": {
                                          "type": "string",
                                          "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                        }
                                      },
                                      "required": ["name", "arguments"]
                                    }
                                  },
                                  "required": ["id", "type", "function"]
                                }
                              },
                              "role": {
                                "type": "string",
                                "enum": ["assistant"],
                                "description": "The role of the author of this message."
                              },
                              "function_call": {
                                "type": "object",
                                "deprecated": true,
                                "description": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.",
                                "properties": {
                                  "arguments": {
                                    "type": "string",
                                    "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the function to call."
                                  }
                                },
                                "required": ["name", "arguments"]
                              }
                            },
                            "required": ["role", "content"]
                          },
                          "logprobs": {
                            "description": "Log probability information for the choice.",
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "content": {
                                "description": "A list of message content tokens with log probability information.",
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "token": {
                                      "description": "The token.",
                                      "type": "string"
                                    },
                                    "logprob": {
                                      "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
                                      "type": "number"
                                    },
                                    "bytes": {
                                      "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.",
                                      "type": "array",
                                      "items": {
                                        "type": "integer"
                                      },
                                      "nullable": true
                                    },
                                    "top_logprobs": {
                                      "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested `top_logprobs` returned.",
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "token": {
                                            "description": "The token.",
                                            "type": "string"
                                          },
                                          "logprob": {
                                            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
                                            "type": "number"
                                          },
                                          "bytes": {
                                            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.",
                                            "type": "array",
                                            "items": {
                                              "type": "integer"
                                            },
                                            "nullable": true
                                          }
                                        },
                                        "required": [
                                          "token",
                                          "logprob",
                                          "bytes"
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "token",
                                    "logprob",
                                    "bytes",
                                    "top_logprobs"
                                  ]
                                },
                                "nullable": true
                              }
                            },
                            "required": ["content"]
                          }
                        }
                      }
                    },
                    "created": {
                      "type": "integer",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "description": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.\n"
                    },
                    "object": {
                      "type": "string",
                      "description": "The object type, which is always `chat.completion`.",
                      "enum": ["chat.completion"]
                    },
                    "usage": {
                      "type": "object",
                      "description": "Usage statistics for the completion request.",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Number of tokens in the generated completion."
                        },
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Number of tokens in the prompt."
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total number of tokens used in the request (prompt + completion)."
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ]
                    }
                  },
                  "required": ["choices", "created", "id", "model", "object"]
                }
              },

              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["chat.completion.chunk"]
                    },
                    "created": {
                      "type": "number"
                    },
                    "model": {
                      "type": "string"
                    },
                    "system_fingerprint": {
                      "type": "string"
                    },
                    "service_tier": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "completion_tokens",
                        "prompt_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "completion_tokens": {
                          "type": "number"
                        },
                        "prompt_tokens": {
                          "type": "number"
                        },
                        "total_tokens": {
                          "type": "number"
                        }
                      }
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",

                        "properties": {
                          "index": {
                            "type": "number"
                          },
                          "delta": {
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "role": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  },
                                  "tool_calls": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "tools": {
                                    "type": "array"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": false
                              }
                            ]
                          },
                          "logprobs": {
                            "type": "object"
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "x_groq": {
                      "type": "object"
                    },
                    "x_actionschema": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "llm": {
        "type": "http",
        "bearerFormat": "Bearer",
        "description": "LLM Bearer key",
        "scheme": "bearer"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.actionschema.com/oauth/authorize",
            "tokenUrl": "https://auth.actionschema.com/oauth/access_token",
            "scopes": {
              "actionschema-auth:admin": "Full access to all providers, clients, and permissions"
            }
          }
        }
      }
    }
  }
}
